.footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;
    &__copyright {
        text-align: center;
    }
    &__legal {
        margin: 0;
    }
    &__input {
        border-radius: 5px;
        height: 25px;
    }
    &__submit {
        margin: 4px 0;
        border-color: #fff;
        border-radius: 5px;
        background-color: #FFA500;
        height: 25px;
    }
    &__submit:active {
        opacity: 70%;
    }
}
