@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu:wght@400;700&display=swap");
body, html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.container {
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #000;
  color: #fff;
}
.navbar__logo {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}
.navbar__logo:active {
  opacity: 70%;
}
.navbar__list {
  display: none;
  margin-left: auto;
  margin-right: 10px;
}
.navbar__list li {
  list-style-type: none;
  margin: 0 5px;
}
.navbar__list li a {
  text-decoration: none;
  color: #fff;
}
.navbar__list li a:hover {
  color: #FFAF6D;
}
.navbar__list li a:active {
  opacity: 70%;
}
.navbar__collapse-icon {
  margin: 0 10px;
  transition: color 0.5s;
  cursor: pointer;
}
.navbar__collapse-icon:hover {
  color: #FFAF6D;
}
.navbar__collapse-icon:active {
  opacity: 70%;
}

.bg-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bg-hero__img {
  max-width: 500px;
}

.card-group {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  margin: 20px 5px;
}

.card-group-2 {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  margin: 20px 5px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dotted #808080;
  margin: 25px 15px;
}
.card__img {
  margin: 10px 0;
}
.card__title {
  margin: 0;
}
.card__title2 {
  margin-top: 0;
  margin-bottom: 10px;
}
.card__stats {
  margin-bottom: 10px;
}
.card__stats > * {
  margin: 0 5px;
}

.card > * {
  width: 95%;
}

.card-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
}
.card-2__title, .card-2__socials, .card-2__list-title {
  text-align: center;
}
.card-2__img {
  border: 1.5px solid #000;
  border-radius: 150px;
  max-width: 300px;
  max-height: 300px;
}
.card-2__socials > * {
  margin: 0 5px;
}
.card-2__list-title {
  background-color: #505050;
  color: #fff;
}
.card-2__list {
  margin: 0;
}
.card-2__list li a {
  text-decoration: none;
}
.card-2__svg {
  width: 300px;
  height: 300px;
}

.card-2 > * {
  width: 85%;
}

.xml-1, .xml-2, .xml-3 {
  animation: toright 2s ease-in-out infinite;
}

@keyframes toright {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(45px);
  }
  100% {
    transform: translateX(0px);
  }
}
.gear, .gear_inside {
  animation: rotation 2s linear infinite;
  transform-origin: 25rem 25.5rem;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
}
.footer__copyright {
  text-align: center;
}
.footer__legal {
  margin: 0;
}
.footer__input {
  border-radius: 5px;
  height: 25px;
}
.footer__submit {
  margin: 4px 0;
  border-color: #fff;
  border-radius: 5px;
  background-color: #FFA500;
  height: 25px;
  cursor: pointer;
  transition: opacity 0.5s;
}
.footer__submit:hover {
  opacity: 85%;
}
.footer__submit:active {
  opacity: 70%;
}

@media (min-width: 768px) {
  .navbar__list {
    display: flex;
  }
  .navbar__collapse-icon {
    display: none;
  }
}
@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px 300px 1fr auto;
    grid-column-gap: 10px;
  }

  .navbar {
    grid-area: 1/1/2/3;
  }

  .bg-hero {
    grid-area: 2/1/3/3;
  }

  .card-group {
    grid-area: 3/1/4/2;
  }

  .card-group-2 {
    grid-area: 3/2/4/3;
  }

  .footer {
    grid-area: 4/1/5/3;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
